/* 
 Palette (monochromatique) de couleurs obtenu sur paletton.com
 color: #619595 : Couleur principal
 color: #C9DFDF : Très clair
 color: #93BCBC : Clair
 color: #3D7D7D : Foncé
 color: #1F6363 : Plus foncé
*/

/***********************************************
 Global
 ***********************************************/
body {
	font-family: Verdana;
	color: #619595;
	background-color: white;
	width: 80%;
	margin: 0 auto;
}

a {
	color: #3D7D7D;
	text-decoration: none;
}

a::before { content: '['; }
a::after { content: ']'; }

a:hover {
	color: #82BEBE;
}

/***********************************************
 En-tête
 ***********************************************/
header {
	padding: 10px;
	background-color: #C9DFDF;
}
header a::before { content: ''; }
header a::after { content: ''; }

header h1 {
	text-align: right;
}

/***********************************************
 Menu
 ***********************************************/
nav a::before { content: ''; }
nav a::after { content: ''; }

nav > *, nav li  {
	list-style: none;
}
/*
nav li {
	list-style: none; /* Enlève les puces des listes * /
	display: inline; /* Affiche les éléments des listes en ligne * /
	padding: 0;
}

nav li > * {
	list-style: none; /* Enlève les puces des listes * /
	display: inline; /* Affiche les éléments des listes en ligne * /
	padding: 0;
}
*/


/***********************************************
 Contenu
 ***********************************************/
section {
	margin: 0 auto 100px auto;
	width: 90%;
}

code {
	font-family: Courier;
	background-color: #3D7D7D;
	color: white; 
	padding: 0px 2px;
}

/***********************************************
 Pied de page
	box-shadow: 0px 0px 12px #aaa;
 ***********************************************/
footer {
	background-color: #1F6363; 
	color: #C9DFDF; 
	padding: 5px 0;
}

footer p {
	text-align: right;
}
